<h2>Schedule Appointment</h2>
<mat-form-field appearance="fill">
  <mat-label>Patient</mat-label>
  <mat-select #patientSelect>
    <mat-option *ngFor="let patient of patients" [value]="patient._id">{{ patient.name }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Doctor</mat-label>
  <mat-select #doctorSelect>
    <mat-option *ngFor="let doctor of doctors" [value]="doctor._id">{{ doctor.name }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Date</mat-label>
  <input matInput [matDatepicker]="datepicker" [(ngModel)]="selectedDate">
  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
  <mat-datepicker #datepicker></mat-datepicker>
  <mat-datepicker-content>
    <mat-calendar [dateClass]="dateClass" [dateFilter]="dateFilter"></mat-calendar>
  </mat-datepicker-content>
</mat-form-field>


<button mat-raised-button color="primary" (click)="scheduleAppointment(patientSelect.value, selectedDate.toISOString())">Schedule</button>
